//Fonts:
$ff: 'Nunito Sans', sans-serif;



//Colors:
$bg: #181818;
$white: #ffffff;
$black: #000000;
$red: #ed3024;
$blue: #3137c9;
$bg-block: #202020;
$text-grey: #D2D2D2;
$text-dark-grey: #828282;
$bg-header: #0D0D0D;
$bg-add-post: #121212;

$width-sidebar: 30rem;

//Transition:
$transition: all .4s ease-in-out;


//Breakpoints:
$desctop-small: 1200px;
$tablet: 992px;
$tablet-small: 768px;
$mobile: 576px;